@charset "UTF-8";
header {
    background: #388bff;
    position: fixed;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}

.logo{
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
}

.logo a{
    color: #f2ff7b;
    text-decoration: none;
}

.menu {
    display: flex;
}

.menu li {
    list-style: none;
    padding: 30px;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
}